#modal-cotizador {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 10000;
  backdrop-filter: blur(10px) !important;
}
.container-cotizador {
  block-size: 100vh;
  position: relative;
  overflow: auto;
}
.close-modal {
  position: absolute;
  z-index: 20000;
  inset-block-start: 0;
  inset-inline-end: 0;
  background: transparent;
  padding: 0;
  margin: 8px;
}
.close-modal img {
  block-size: 24px;
  inline-size: auto;
}

.cotizador {
  background: white;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  text-align: start;
  gap: 8;
  max-inline-size: 1000px;
  inline-size: 100%;
  position: absolute;
  inset-inline-start: 50%;
  transform: translateX(-50%);
}
.container-porcentajes label strong span {
  color: red;
}
#modal-cotizador input {
  padding-inline: 4px;
  padding-block: 4px;
  block-size: 40px;
  inline-size: 100%;
}
.container-seccion-1 {
  background: #e9ecef;
  padding-inline: 16px;
  padding-block-end: 16px;
  padding-block-start: 16px;
}
.container-seccion-2 {
  background: #fffffe;
  padding: 16px;
}

.container-seccion-1 * {
  margin: 0;
}

.container-seccion-1 p {
  margin-block-end: 32px;
}
.container-seccion-2 #myForm,
.container-person,
.container-porcentajes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.container-porcentajes .plazo-de-financiamiento {
  block-size: 40px;
  padding-block: 4pxx;
}

.container-porcentajes label section {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  gap: 20px;
  align-items: center;
}
.container-porcentajes label section * {
  font-weight: 100;
}

.container-porcentajes label section span {
  margin-inline: auto;
}
.container-porcentajes label {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
.container-person .names-cotizador {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.container-person .names-cotizador label {
  inline-size: 100%;
}

.container-person .contact-cotizador {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.container-message-cotizador textarea {
  inline-size: 100%;
  padding-inline: 4px;
}
#modal-cotizador .button-cotizador-plano,
#modal-cotizador .descargar-cotizacion {
  margin-inline: auto;
  background: #0866c6;
  color: #ffffff;
  padding-block: 4px;
  padding-inline: 16px;
  block-size: 40px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
#modal-cotizador .descargar-plano-ilustrativo {
  block-size: 40px;
  background: #0866c6;
  display: inline-block;
  border-radius: 4px;
  color: white;
  padding: 0;
  padding-inline-start: 8px;
}
#modal-cotizador .descargar-plano-ilustrativo img {
  block-size: 40px;
  inline-size: auto;
  margin-inline: auto;
  margin-inline-start: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 12px;
}
#modal-cotizador .container-input-cotizador {
  display: flex;
  block-size: 40px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.05);
}
#modal-cotizador .container-input-cotizador span {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  block-size: 100%;
  display: flex;
  align-items: center;
  padding-inline: 12px;
  background: rgba(0, 0, 0, 0.05);
}
#modal-cotizador input {
  border: none;
  padding-inline: 10px;
}
#modal-cotizador .accesible {
  background: white !important;
  border-block: 1px solid rgba(0, 0, 0, 0.2);
}
#modal-cotizador .names-cotizador input,
#modal-cotizador .contact-cotizador input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-weight: 100;
}
#modal-cotizador .message-cotizador,
#modal-cotizador .plazo-de-financiamiento {
  font-weight: 100;
  padding-inline: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
#modal-cotizador {
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 1000px) {
  .cotizador {
    grid-template-columns: 1fr;
  }
  .container-seccion-1 {
    background: #e9ecef;
    padding-inline: 16px;
    padding-block-end: 16px;
    padding-block-start: 40px;
  }
}

@media screen and (max-width: 560px) {
  #modal-cotizador .container-seccion-1 {
    /* text-align: center; */
  }

  #modal-cotizador .descargar-plano-ilustrativo {
    /* inline-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; */
    /* display: block;
    margin-inline: auto; */
  }
  /* #modal-cotizador .descargar-plano-ilustrativo img,
  #modal-cotizador .descargar-plano-ilustrativo p {
    margin: 0;
  } */
  .container-porcentajes {
    gap: 30px;
  }
  .container-porcentajes label {
    grid-template-columns: 1fr;
  }
  .container-porcentajes label section {
    gap: 8px;
  }
  .container-porcentajes strong {
    /* text-align: center; */
  }
  .container-person .names-cotizador,
  .container-person .contact-cotizador {
    grid-template-columns: 1fr;
  }
  #modal-cotizador .container-input-cotizador span {
    padding-inline: 4px;
  }
}

@media screen and (min-width: 1000px) {
  .cotizador {
    inset-inline-start: 50%;
    inset-block-start: 50%;
    transform: translate(-50%, -50%);
  }
}
