.enero-tab,
.febrero-tab,
.marzo-tab,
.abril-tab {
  background: #eacac4;
}
.mayo-tab,
.junio-tab,
.julio-tab {
  background: #f4d5b2;
}
.agosto-tab,
.septiembre-tab,
.octubre-tab {
  background: #afd3c5;
}
.noviembre-tab,
.diciembre-tab {
  background: #e68880;
}
.laguna .container-vista {
  background: #e68880;
}
.mar .container-vista {
  background: #afd3c5;
}
.container-vista {
  padding-block: 1rem;
  font-size: 3rem;
}
.container-vista p {
  font-size: 1.6rem;
  color: rgb(0, 0, 0, 0.7);
  font-weight: 700;
}

.container-mes p {
  margin: 0;
  /* padding-block: 8px; */
}
.container-mes-tab {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  cursor: pointer;
  grid-template-columns: repeat(auto-fill, minmax(91px, 1fr));
  gap: 3px;
  margin-block-start: 4px;
  border-block-end: 1px solid rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1000px) {
  .container-mes-tab {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
    cursor: pointer;
    gap: 3px;
  }
}

.container-mes-tab .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 10px;
  border-radius: 8px 8px 0 0;
  padding-inline: 4px;
  overflow: hidden;
}
.container-mes-tab .tab p {
  margin-bottom: 0;
}
.container-mes-tab .active {
  background: white;
  font-weight: bold;
  margin-top: -13px;
  transition: margin-top 0.5s;
  border-inline: 1.7px solid rgba(0, 0, 0, 0.15);
  border-block-start: 1.7px solid rgb(0, 0, 0, 0.15);
}

.tab:hover {
  margin-top: -13px;
  transition: all 0.5s;
}
.container-dos-fachadas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin-block-start: 4px; */
}
@media screen and (max-width: 928px) {
  .container-dos-fachadas {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}
.container-mes-depart-norte {
  inline-size: 100%;
  block-size: calc(100% - 2.5rem);
  display: grid;
  grid-template-columns: 8.5995086% 26.7813268% 29.2383292% 26.7813268% 8.5995086%;
  grid-template-rows: auto auto auto auto auto auto auto auto;
}
@media screen and (max-width: 928px) {
  /* .container-mes-depart-norte {
    block-size: 100%;
  }
  .container-mes-depart-sur {
    block-size: auto;
  } */
}
.container-mes-depart-sur {
  inline-size: 100%;
  block-size: calc(100% - 2.5rem);
  display: grid;
  grid-template-columns: 8.7057457% 26.2913522% 30.1799187% 26.1172373% 8.7057457%;
  grid-template-rows: auto auto auto auto auto auto auto auto;
}
.container-mes-depart-norte img,
.container-mes-depart-sur img {
  inline-size: 100%;
  block-size: 100%;
}
.Disponible:hover {
  cursor: pointer;
}
.Disponible img {
  filter: invert(150%) sepia(54%) saturate(431%) hue-rotate(27deg)
    brightness(96%) contrast(109%);
}
.Disponible div p {
  color: #70bb00;
  text-align: center;
}

.Vendido img {
  filter: invert(186%) sepia(86%) saturate(496%) hue-rotate(309deg)
    brightness(106%) contrast(55%);
}
.Vendido div p {
  color: #b7580a;
  text-align: center;
}

.Reservado img {
  filter: invert(75%) sepia(99%) saturate(292%) hue-rotate(189deg)
    brightness(91%) contrast(89%);
}
.Reservado div p {
  color: #0e7dd3;
  text-align: center;
}

.container-departamento {
  position: relative;
}

.container-status p {
  font-size: 1rem;
}
.container-status {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white !important;
  inline-size: 100%;
  gap: 0.5rem;
  position: absolute;
  inset-block-end: 100%;
  padding-block-end: calc(10% + 1rem);
  padding-inline: 0.3rem;
  padding-block-start: 1rem;
  clip-path: polygon(
    0% 0%,
    0% 85.56%,
    35% 85.56%,
    49.45% 100%,
    63.9% 85.56%,
    100% 85.56%,
    100% 0%
  );
}

@media screen and (min-width: 499px) {
  .Disponible:hover .container-status {
    display: flex;
  }
  .Vendido:hover .container-status,
  .Reservado:hover .container-status {
    display: flex;
  }
}
